// Specific CSS for your home-page
.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.maroon{
    background-color: maroon;
}