// Specific CSS for your home-page
.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.orange{
    background-color: orange;
}
.maroon{
    background-color: maroon;
}

.light-grey{
    background-color: lightgray;
}

.banner {
 text-align: center;
}
